<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Foam And Bubbles</title>
    <link href="./static/css/aka.css" rel="stylesheet" type="text/css" />

</head>

<body>
    {% include "header.html" %}
    <main>
        <h1>Afrikan-kidz Atire</h1>
        <div class="gallery">
            <img src="static/images/aka/blueShirtYellowPants.jpg" alt="blue shirt and yellow pants">
            <img src="static/images/aka/blueWhiteDress.jpg" alt="blue and white dress">
            <img src="static/images/aka/blueWhiteLongSleeveShirt.jpg" alt="blue and white long sleeve shirt">
            <img src="static/images/aka/blueWhiteShirt.jpg" alt="blue and white shirt"">
    <img src=" static/images/aka/blueWhiteShirtAndPants.jpg" alt="blue and white shirt and pants">
            <img src="static/images/aka/greenWhiteShirt.jpg" alt="green and white shirt""> 
    <img src=" static/images/aka/purpleBlueWhiteLongSleeveShirt.jpg" alt="purple and blue and white long sleeve shirt">
            <img src="static/images/aka/skirtOveralls.jpg" alt="skirt overalls">
        </div>
        <h1>Career costumes</h1>
        <div class="gallery">
            <img src="static/images/career/armySoldier.jpg" alt="blue shirt and yellow pants">
            <img src="static/images/career/fireman.jpg" alt="blue and white dress">
            <img src="static/images/career/nurse.jpg" alt="blue and white long sleeve shirt">
            <img src="static/images/career/policeOfficer.jpg" alt="blue and white shirt">
            <img src=" static/images/career/surgeon.jpg" alt="blue and white shirt and pants">
            <img src="static/images/career/trafficOfficer.jpg" alt="green and white shirt">
        </div>
    </main>

    {% include "footer.html" %}
</body>

</html>