<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Foam And Bubbles</title>
    <link href="./static/css/footer.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <footer class="footer">

        <div class="bottom-links">
            <div class="copy">&copy; Est: </div>
            <div class="links">
                <h3>Hours:</h3>
                <p>Monday - Friday: 07:00 to 19:00</p>
                <p>Saterday: 07:30 to 19:00</p>
                <p>Sunday: 08:00 to 16:00</p>
            </div>
            <div class="links">
                <h3>More Info:</h3>
                <a href="./">Home</a>
                <a href="./hours">Hours</a>
                <a href="./prices">Prices</a>
                <a href="./AfricanKidsAtire">Afrikan Kidz Atire</a>
                <a href="./contact">Contact Us</a>
            </div>
            <div class="links">
                <h3>Social Links:</h3>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </footer>
</body>

</html>