<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Foam And Bubbles</title>
    <link href="./static/css/header.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <header class="header">
        <a href="./" class="logo">Foam and Bubbles</a>
        <nav class="nav-items">
            <a href="./">Home</a>
            <a href="./hours">Hours</a>
            <a href="./prices">Prices</a>
            <a href="./AfricanKidsAtire">Afrikan Kidz Atire</a>
            <a id="lastA" href="./contact">Contact Us</a>
        </nav>
    </header>
</body>

</html>