<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" , initial-scale=1.0>
    <title>Foam And Bubbles</title>
    <link href="./static/css/home.css" rel="stylesheet" type="text/css" />

</head>

<body>
    {% include "header.html" %}

    <main>
        <div class="intro">
            <h1>FOAM AND BUBBLES</h1>
            <p>We always have time for washing!</p>
            <button id="learnMoreButton"><a href="#about">Learn More</a></button>
        </div>

        <div class="servicebar">
            <div class="service">
                <img src="static/css/imageicons/bulkLaundry.jpg">
                <p class="serviceHeading">Bulk laundry for businesses</p>
            </div>
            <div class="service">
                <img src="static/css/imageicons/seamstress.jpg">
                <p class="serviceHeading">Seamstress</p>
            </div>
            <div class="service">
                <img src="static/css/imageicons/purpleBlueWhiteLongSleeveShirt.jpg">
                <p class="serviceHeading">Afikan Kidz Atire (our own clothing range)</p>
            </div>
            <div class="service">
                <img src="static/css/imageicons/workOverall.jpg">
                <p class="serviceHeading">Work overalls handled seperately</p>
            </div>
            <div class="service">
                <img src="static/css/imageicons/dog.jpg">
                <p class="serviceHeading">Furry Friends Blankets welcome</p>
            </div>
        </div>
        <section>
            <div class="about-us">
                <div id="about" class="about">

                    <h2>About Us</h2>
                    <p class="lead">Welcome to Foam and Bubbles, where we believe in making laundry day a breeze for our
                        customers. With years of experience in the industry, we understand the importance of clean,
                        fresh clothes in your everyday life. Our mission is to provide top-quality laundry services that
                        not only save you time but also give you peace of mind knowing your garments are in good hands.
                    </p>
                    <p>
                        At Foam and Bubbles, we pride ourselves on our attention to detail and commitment to customer
                        satisfaction. Whether you're a busy professional, a parent with a hectic schedule, or a
                        bussiness, we've got you covered. From everyday laundry to specialty items, we handle each piece
                        with care and precision.
                    </p>
                </div>
            </div>
        </section>
    </main>
    {% include "footer.html" %}


</body>

</html>