<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Foam And Bubbles</title>
    <link href="./static/css/prices.css" rel="stylesheet" type="text/css" />
</head>

<body>

    {% include "header.html" %}

    <h1>Luandry Prices</h1>
    <table class="duvets" style="width: 100%;">
        <colgroup>
            <col span="1" style="width: 90%;">
            <col span="1" style="width: 10%;">
        </colgroup>
        <tr class="headrow">
            <td>Blankets/Duvets/Comforters/Throws</td>
            <td>R/Each</td>
        </tr>
        <tr>
            <td>Single</td>
            <td>100.00</td>
        </tr>
        <tr>
            <td>Double and 3/4</td>
            <td>123.00
        </tr>
        </tr>
        <tr>
            <td>Queen</td>
            <td>138.00</td>
        </tr>
        <tr>
            <td>King</td>
            <td>149.00</td>
        </tr>
        <tr>
            <td>Wash only</td>
            <td>74.00</td>
        </tr>
    </table>
    <table class="featherDuvetAndTwoOr3plyBlankets" style="width: 100%;">
        <colgroup>
            <col span="1" style="width: 90%;">
            <col span="1" style="width: 10%;">
        </colgroup>
        <tr class="headrow">
            <td>Feather Duvet / 2 & 3 ply blankets (Chinese)</td>
            <td>R/Each</td>
        </tr>
        <tr>
            <td>Single</td>
            <td>209.00</td>
        </tr>
        <tr>
            <td>Double and 3/4</td>
            <td>231.00
        </tr>
        </tr>
        <tr>
            <td>Queen</td>
            <td>294.00</td>
        </tr>
        <tr>
            <td>King</td>
            <td>330.00</td>
        </tr>
        <tr>
            <td>Wash only</td>
            <td>74.00</td>
        </tr>
    </table>
    <table class="lightBlankets" style="width: 100%;">
        <colgroup>
            <col span="1" style="width: 90%;">
            <col span="1" style="width: 10%;">
        </colgroup>
        <tr class="headrow">
            <td>Light Weight comforters/blankets</td>
            <td>R/Each</td>
        </tr>
        <tr>
            <td>Single</td>
            <td>74.00</td>
        </tr>
        <tr>
            <td>Double and 3/4</td>
            <td>74.00</td>
        </tr>
        </tr>
        <tr>
            <td>Queen</td>
            <td>80.00</td>
        </tr>
        <tr>
            <td>King</td>
            <td>80.00</td>
        </tr>
        <tr>
            <td>Wash only</td>
            <td>64.00</td>
        </tr>
    </table>
    <table class="clothesAndOther" style="width: 100%;">
        <colgroup>
            <col span="1" style="width: 80%;">
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 10%;">
        </colgroup>
        <tr class="headrow">
            <td>Clothing</td>
            <td>R/Kg</td>
            <td>4kg min</td>
        </tr>
        <tr>
            <td>Wash & Dry</td>
            <td>26.50</td>
            <td>106.00</td>
        </tr>
        <tr>
            <td>Wash, Dry and Iron (mixed load)</td>
            <td>44.50</td>
            <td>178.00</td>
        </tr>
        </tr>
        <tr>
            <td>Wash, Dry and Iron (all ironing load)</td>
            <td>48.00</td>
            <td>192.00</td>
        </tr>
        <tr>
            <td>Iron Only</td>
            <td>40.00</td>
            <td>80.00</td>
        </tr>
        <tr>
            <td>Wash only (2kg min)</td>
            <td>22.50</td>
            <td>90.00</td>
        </tr>
    </table>
    <table class="dryOnly" , style="width: 100%;">
        <colgroup>
            <col span="1" style="width: 80%;">
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 10%;">
        </colgroup>
        <tr class="headrow">
            <td>Dry Only</td>
            <td>R/Each</td>
            <td>R/min</td>
        </tr>
        <tr>
            <td>Dry only</td>
            <td>25.00</td>
            <td>100.00</td>
        </tr>
        <tr>
            <td>Dry Only (very wet)</td>
            <td>28.00</td>
            <td>112.00</td>
        </tr>
    </table>
    <table class="stainTreatment" style="width: 100%">
        <colgroup>
            <col span="1" style="width: 80%;">
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 10%;">
        </colgroup>
        <tr class="headrow">
            <td>Stain Treatment</td>
            <td>R/Kg</td>
            <td>R/min</td>
        </tr>
        <tr>
            <td>Stain Treatment</td>
            <td>11.00</td>
            <td>11.00</td>
        </tr>
    </table>
    <table class="curtains" style="width: 100%">
        <colgroup>
            <col span="1" style="width: 80%;">
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 10%;">
        </colgroup>
        <tr class="headrow">
            <td>Curtains</td>
            <td>R/Kg</td>
            <td>4kg min</td>
        </tr>
        <tr>
            <td>Wash, Dry and Steam</td>
            <td>71.50</td>
            <td>286.00</td>
        </tr>
        <tr>
            <td>Wash and Dry</td>
            <td>33.00</td>
            <td>132.00</td>
        </tr>
        </tr>
        <tr>
            <td>Wash, Dry and Iron</td>
            <td>52.00</td>
            <td>208.00</td>
        </tr>
        <tr>
            <td>Wash only</td>
            <td>27.50</td>
            <td>110.00</td>
        </tr>
    </table>
    <table class="pillowsAndCushions" style="width: 100%">
        <colgroup>
            <col span="1" style="width: 80%;">
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 10%;">
        </colgroup>
        <tr class="headrow">
            <td>Pillow/Cushion</td>
            <td>R/Each</td>
            <td>R/min</td>
        </tr>
        <tr>
            <td>Hollow Fibre</td>
            <td>50.00</td>
            <td>90.00</td>
        </tr>
        <tr>
            <td>Feather</td>
            <td>74.00</td>
            <td>90.00</td>
        </tr>
        </tr>
        <tr>
            <td>Wash Only</td>
            <td>44.00</td>
            <td>90.00</td>
        </tr>
        <tr>
            <td>Wash only</td>
            <td>27.50</td>
            <td>110.00</td>
        </tr>
    </table>
    </table>
    <table class="jackets" style="width: 100%">
        <colgroup>
            <col span="1" style="width: 90%;">
            <col span="1" style="width: 10%;">
        </colgroup>
        <tr class="headrow">
            <td>Jackets</td>
            <td>R/Kg</td>
        </tr>
        <tr>
            <td>wash and hang</td>
            <td>80.00</td>
        </tr>
        <tr>
            <td>wash and hang and Steam or Iron</td>
            <td>135.00</td>
        </tr>
    </table>
    <table class="pets" style="width: 100%;">
        <colgroup>
            <col span="1" style="width: 90%;">
            <col span="1" style="width: 10%;">
        </colgroup>
        <tr class="headrow">
            <td>Pets</td>
            <td>R/Kg</td>
        </tr>
        <tr>
            <td>Pets Blankets (additional per invoice)</td>
            <td>50.00</td>
        </tr>
    </table>
    </main>

    {% include "footer.html" %}
</body>

</html>